{% extends "admin/change_form.html" %}

{% load i18n %}

{% block extrastyle %}
  {{ block.super }}
  <style>
  #id-notes {
    font-family: monospace;
    white-space: pre;
  }
  </style>
{% endblock extrastyle %}
{% block object-tools-items %}
  {% if original %}
    <li>
      <a href="{{ reassign_attachments_url }}" class="historylink">🗂️ Reassign Attachments</a>
    </li>
    <li>
      <a href="{{ import_archive_url }}" class="historylink">📥 Import Archive</a>
    </li>
  {% endif %}
  {{ block.super }}
{% endblock object-tools-items %}
